.detail{
    border: 5px solid white;
    margin: 25px 50px 75px 100px;
    height:400px;
    width:700px;
    background-color:white;
    display: flex;
    padding: 15px;
    box-shadow: 10px 10px 5px #aaaaaa;
}
h1{
  color: seagreen;
  font-weight:500;
     
}

hr{
    height: 20px;
   }

   span{
       color:seagreen;
   }

.character-image{
    height: 100%;
    width:100%;
}

.character-detail{
margin:30px;
}

/* Quote part */

.quote{
    border: rgba(255, 255, 255, 0.157) solid white;
    margin: 25px 50px 75px 100px;
    height:200px;
    width:900px;
    background-color:   rgba(255, 255, 255, 0.883);
    padding: 15px;
  border-radius:5px;
}

